.hotelInfo {
    font-size: 20px;
    color: #fff;
}

.infoRows {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.icon {
    margin-right: 12px;
}

.infoText {
    font-size: 14px;
}