.hotelInfoBlock {
    display: flex;
    flex-direction: column;
    width: 280px;
    font-size: 20px;
    color: #fff;
}

.infoRows {
    margin-top: 8px;
}

.communityLink {
    margin-bottom: 24px;
}

.icon {
    margin-right: 12px;
}

.infoText {
    font-size: 14px;
}