.calendar {
    box-shadow: 1px 1px 6px #bebebe;
    height: 300px;
}

.bookingBtnBlock {
    position: relative;
}

.bookingBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 52px;
    margin-top: 28px;
    background-color: #575757;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.67px;
}

.bookingBtn:hover {
    background-color: #6e6e6e;
}

backgroundStyle {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 45%, #000 0, #000 50%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 95%, #000 0);
  background-size: 5px 5px; 
}

.bookingBtn::after {
    @extend backgroundStyle;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    height: 10px;
    width: 120px;
}

.bookingBtn::before {
    @extend backgroundStyle;
    content: '';
    position: absolute;
    top: 12px;
    left: 120px;
    height: 40px;
    width: 10px;
}
